html {
  box-sizing: border-box;
  background-color: #79756f;
  font-famil: Bevan, cursive;
  line-height: 1.5;
  text-align: center;
  border: 3px solid #e2e2e2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
  margin: .3em;
}
.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards a {
  display: inline-block;
  color: #fff;
  padding: .6em .5em .75em;
  background-color: #713837;
  border-radius: 10px;
  text-decoration: none;
  }

  .cards a:hover {
    background-color: #f33;
  }

{
  border: 3px solid #e2e2e2;
}
