html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  text-align: center;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  margin: 0;
  padding-bottom: 1.5em;
  padding-top: .6em;
}

h1 {
  color: #fff;
  margin: 0;
  font-family: Bevan, serif;
}

.cards {
  margin: .3em;
  padding: 0;
  list-style-type: none;
}

.cards li {
  display: inline-block;
  padding: .6em .5em .75em;
  background-color: #713837;
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.cards a:hover {
  background-color: #f33;
}
